@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#principal {
    width: 100%;
    height: 100px;
    background-color: black;
}

#fundo {
    width: 100%;
    height: 535px;
    background-color: brown;
    position: relative; 
}

#fundo img {
    width: 100%;
    height: 100%;
}

#fundo h3,
#fundo p {
    position: absolute; 
    color: #000; 
    font-family: Verdana;
}

#fundo h3 {
    top: 20%; 
    left: 5%; 
    font-size: 30px; 
}

#fundo p {
    top: 30%;
    left: 5%; 
    font-size: 18px;
    
}
#imagem1 h3{

    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#imagem1{
    width: 100%;
    height: 650px;
    
}
#imagem1 img{
    width: 100%;
    height: 90%;
    padding: 30px;
    padding-top: 10px;
}
#box{
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 10px 10px 20px #000; 
    padding: 30px;
    margin-left: 800px;
    top: 950px;
}
p{
    top: 30%;
    left: 5%; 
    font-size: 18px;
}
h2{
    top: 30%;
    left: 5%; 
    font-size: 30px;
    color: #000;
    padding: 10px;
}
#box a{
    width: 150px;
    height: 40px;
    background-color: #47a065;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    top: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:  transform 200ms ease-in-out;
  }
  a:hover{
    transform: scale(1.1);
  }
#imagem2{
    width: 100%;
    height: 650px;
    
}
#imagem2 img{
    width: 100%;
    height: 100%;
    padding: 30px;
    padding-top: 10px;

}
#box2{
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: #000;
    border-radius: 20px; 
    box-shadow: 10px 10px 20px #000; 
    padding: 30px;
    margin-left: 800px;
    top: 1650px;
    
}
#box2 h2{
    top: 30%;
    left: 5%; 
    font-size: 30px;
    color: #fff;
    padding: 10px;
}
#box2 p{
    top: 30%;
    left: 5%; 
    font-size: 18px;
    color: #fff;
}
#box2 a{
    width: 150px;
    height: 40px;
    background-color: #47a065;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    top: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:  transform 200ms ease-in-out;
}
a:hover{
    transform: scale(1.1);
}
