
body {
    background-color: #000000;
    color: rgb(5, 138, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#container {
    width: 90%;
    max-width: 1290px;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    position: relative;
    top: 100px;
}
a{
    text-decoration:none
}
h1 {
    position: relative;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    top: 100px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 30vh;
    width: 30vh;
    background: rgba(30, 30, 30, 0.7);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px);
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 255, 0, 0.5);
}

.image {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 10px;
}

.img1 { background-image: url(../img/torre.jpg); }
.img2 { background-image: url(../img/cemiterio.jpg); }
.img3 { background-image: url(../img/bom-jesus.webp); }
.img4 { background-image: url(../img/Casa_Fox.jpg); }
.img5 { background-image: url(../img/museu-do-castelo.webp); }
.img6 {background-image: url(../img/mercado1.jpg);}
.img7 {background-image: url(../img/trilha.jpg);}
.img8 {background-image: url(../img/estação.jpg);}
p {
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.botao-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    top: 100px;
  }
  
  .botao-mapa {
    padding: 2vh 4vw; 
    background-color: #047a00; 
    color: white;
    text-decoration: none;
    font-size: 2.5vh; 
    border-radius: 1.5vh; 
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .botao-mapa:hover {
    background-color: #032f02;
    transform: scale(1.1); 
  }  
